@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

:root {
  --bgcolor: rgb(35, 35, 43);
  --textcolor: #fc0c0c;
  --buttoncolor: rgba(100, 6, 45, 0);
  --buttonhover: rgb(107, 7, 7);
  --mainbackground: rgb(10, 10, 10);
  --fotterbg: #000000;
  --footer: rgb(35, 35, 43);
  --closebg: rgb(35, 35, 43);
  --headcolor: rgb(231, 40, 40);
  --maintextcolor: rgb(255, 0, 0);
  --centercolor: rgb(253, 4, 4);
}

body {
  min-height: 100vh;
  background-color: var(--bgcolor);
  display: grid;
  grid-template-rows: auto 1fr auto;
  animation: fadein 1s ease;
}

header {
  height: fit-content;
  position: static;
  top: 0;
  display: flex;
  gap: 1.5em;
}

header > img {
  filter: drop-shadow(2px 2px 0 black);
  width: calc(105px / 1.2);
  position: relative;
}

#header {
  color: var(--headcolor);
  font-size: 4em;
  text-align: left;
  position: relative;
  left: 16px;
  width: fit-content;
  margin: 12px;
  text-shadow: 2px 2px 0 black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 0;
  position: relative;
  background-color: var(--mainbackground);
  background-image: url("images/background2.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
}

main img {
  position: absolute;
  z-index: 1;
  scale: 0.6;
  width: fit-content;
  height: fit-content;
}

.mybutton {
  padding: 12px;
  font-size: 4em;
  background-color: var(--buttoncolor);
  border: 6px solid var(--centercolor);
  border-radius: 6px;
  width: calc(100% - 80%);
  max-height: fit-content;
  cursor: pointer;
  transition: 0.5s all ease;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  z-index: 2;

  svg {
    fill: var(--centercolor);
    height: 50px;
    display: block;
    width: fit-content;
    position: relative;
    filter: drop-shadow(4px -4px 0 black);
    pointer-events: none;
    left: 16px;
  }
}

.mybutton:hover {
  background-color: var(--buttonhover);
  scale: 1.1;
  animation: none;
}

.mybutton > span {
  color: var(--centercolor);
  text-decoration: none;
  position: relative;
  width: fit-content;
  height: 100%;
  text-shadow: 2px 2px 0 black;
  text-align: center;
  transform-origin: center;
}

.mybutton > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
}

footer {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--footer);
  padding: 0 30px; /* Ändert abstand vom Rand */
  padding: 2em;
}

.text {
  color: var(--textcolor);
  letter-spacing: 2px;
  font-size: 1.8em;
  text-shadow: 2px 2px 0 black;
}

.maintext {
  color: var(--maintextcolor);
  letter-spacing: 2px;
  font-size: 1.8em;
  text-shadow: 2px 2px 0 black;
  display: none;
}

.close {
  position: absolute;
  bottom: 0;
  left: 16px;
  background-color: var(--closebg);
  border: none;
  border-radius: 6px 6px 0 0;
  width: calc(100% - 98%);
  font-size: 1em;
  cursor: pointer;
  padding: 6px;
  display: flex;
  flex: 1 1 0;
}

.close svg {
  display: flex;
  flex: 1 1 0;
  height: 24px;
  width: 24px;
}

.hide {
  display: none;
}

.small {
  font-size: 1.4em !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1400px) {
  .mybutton {
    grid-template-columns: 1fr;
    width: 90px;
    height: fit-content;
    svg {
      left: 0;
    }
  }

  .imgtest {
    display: none;
  }

  header {
    overflow: hidden;
    img {
      display: none;
    }
  }

  #header {
    text-align: center;
    position: unset;
    width: 100%;
  }

  .close{
    width: 24px;
    position: absolute;
    bottom: 0;
  }

  .mybutton > span {
  display: none;
  }

  .text{
    font-size: 1.4em;
  }

  .part{
    display: none;
  }

  .maintext{
    display: block;
  }
}


@media only screen and (max-height: 900px) {
  main > img {
    max-height: 100%;
    width: auto;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
  }
}
