@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
    z-index: 1000;
}

:root{
    --bgcolor: rgb(20, 20, 20);
    --textcolor: rgb(234, 234, 234);
}

body{
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.header{
    position: fixed;
    top: 0;
    margin: 5px;
    text-align: center;
    font-size: 3em;
    filter: drop-shadow(2px 2px 6px rgb(0, 0, 0,0.5));
    transition: .5s all ease;
}

.text{
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    font-weight: bold;
}

.cover{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: aquamarine;
    display: block;
}

.hide{
    display: none;
}

.confirm{
    position: absolute;
    bottom: 16px;
    margin: 8px;
    padding: 8px;
    font-size: 34px;
    background-color: aquamarine;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}